* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1600px;
    margin: 0 auto;
}

.container__medium {
    padding-left: 50px;
    padding-right: 200px;
}

.header__nav {
    padding-top: 25px;
    padding-bottom: 317px;
    display: flex;
    justify-content: space-between;
}

/* .container-main {
    max-width: 1500px;
    margin: 0 auto;
} */

.header {
    color: white;
    background: url(../image/header-bg.png) no-repeat;
    background-size: cover;
    background-position-y: center;
}

.header__logo {
    display: inline-flex;
    flex-direction: column;
}

.header__logo-name {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.04em;
}

.header__logo-name--italic {
    font-style: italic;
    margin-left: 40px;
}

.header__links {
    display: inline-flex;
    gap: 50px;
    text-transform: uppercase;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.header__link a {
    text-decoration: none;
    color: white;
}

.header__title-text {
    font-family: 'Raleway', sans-serif;
    font-size: 130px;
    line-height: 130px;
    text-transform: uppercase;
}

.header__title-text--italic {
    font-style: italic;
}

.header__title-text--margin-left {
    margin-left: 189px;
}

.header__title {
    padding-bottom: 71px;
}

.header__footer {
    display: flex;
    font-family: 'Inter', sans-serif;
    padding-bottom: 71px;
}

.header__more-info {
    max-width: 377px;
    font-size: 18px;
    margin-right: 350px;
}

.link-more {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.link-more__button-view-more::after {
    display: inline-flex;
    justify-content: center;
    content: '↗';
    color: black;
    width: 26px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    font-size: 25px;
}

.link-more__button-view-more--black::after {
    color: white;
    background-color: black;
}

.link-more__inner-text {
    font-size: 22px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}


.link-more__inner-text--black {
    border-color: #1E1E1F;
    color: black;
}

.title {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 130px;
    line-height: 100px;
    text-transform: uppercase;
}

.about {
    padding-top: 60px;
    padding-bottom: 120px;
    color: #1E1E1F;
}

.about__text {
    max-width: 624px;
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
}

.about__text-inner {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 27px;
}

.about__left-info {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
}

.about__info {
    display: flex;
    justify-content: space-between;
}

.title--margin-bottom {
    margin-bottom: 358px;
}

.about__statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 140px;
    font-family: 'Inter', sans-serif;
}

.about__statistic-number {
    font-weight: 600;
    font-size: 60px;
}

.about__statistic-info {
    font-weight: 400;
    font-size: 20px;
}

.we-offer {
    padding-bottom: 120px;
}

.we-offer__item-text {
    padding: 45px 0;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #b8b8bf;
    display: inline-flex;
}

.we-offer__items {
    position: relative;
}

.we-offer__item {
    border-bottom: 1px solid #e5e5e5;
}

.we-offer__item-text--selected {
    display: inline-flex;
    color: #1E1E1F;
    border-bottom: 4px solid #1E1E1F;
    padding-bottom: 0;
    margin-bottom: 45px;
}

.we-offer__right-info {
    display: flex;
    align-items: end;
    gap: 76px;
    position: absolute;
    right: 0;
    top: 25px;
}

.we-offer__left-info {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

sup {
    font-size: 22px;
}

.title--border-bottom {
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.we-offer__item--border-top {
    border-top: 1px solid #e5e5e5;
}

.more-link::after {
    content: '↗';
    bottom: 105px;
    font-size: 40px;
    position: relative;
}

.projects {
    padding-bottom: 130px;
}

.projects__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.projects__items {
    display: flex;
    justify-content: space-between;
}

.we-offer__about-interior {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    max-width: 344px;
}

.projects__item--first-item-margin-right {
    margin-right: 196px;
    position: relative;
}

.projects__item--second-item-margin-right {
    margin-right: 76px;
}

.projects__name-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #1E1E1F;
    text-transform: uppercase;
}

.projects__name-item--selected {
    display: inline-flex;
    border-bottom: 4px solid #1E1E1F;
    margin-bottom: 21px;
}

.projects__type-item {
    display: block;
    text-decoration: none;
    color: #1E1E1F;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    background-color: white;
    padding: 5px 15px;
    border-radius: 26px;
    border: 1px solid #B8B8BF;
    display: inline-flex;
}

.more-link__projects {
    position: absolute;
    right: 0;
}

.projects__number-img {
    color: #1E1E1F;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.projects__arrow--left::after {
    content: '\279D';
    display: flex;
    transform: scale(-1, 1);
}

.projects__arrow--right::after {
    content: '\279D';
    display: flex;
}

.projects__link-arrow {
    display: inline-flex;
    gap: 10px;
    font-size: 40px;
}

.projects__arrow--active {
    color: #1E1E1F;
}

.projects__arrow--no-active {
    color: #e5e5e5;
}

.projects__link-arrow {
    text-decoration: none;
}


.gallery {
    color: white;
    background-color: #1E1E1F;
    margin-bottom: 60px;
}

.gallery__left-info {
    max-width: 665px;
}

.gallery__right-info {
    display: flex;
    gap: 40px;
}

.gallery__info {
    gap: 170px;
    display: flex;
}

.gallery__about-info {
    text-transform: uppercase;
    max-width: 483px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 484px;
    padding-bottom: 106px;
}

.title__gallery--padding-top {
    padding-top: 60px;
}

.gallery__images {
    gap: 40px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
}

.contacts__header {
    margin-bottom: 110px;
}

.contacts__about {
    max-width: 409px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #1E1E1F;
    padding-top: 30px;
}

.contacts__text {
    color: #1E1E1F;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 600px;
    margin-left: auto;
}

.contacts__link-name {
    color: #353333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.contacts__link-content p, a{
    display: flex;
    flex-direction: column;
    color: #1E1E1F;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.contacts__footer {
    display: flex;
    justify-content: space-between;
}

.contacts__input-text {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: black;
}

.contacts__inputs {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 50px;
    gap: 40px;
}

.contacts__form {
    display: grid;
}

.contacts__input-text--merging-cells {
    grid-column: span 2;
}

.contacts {
    padding-bottom: 257px;
}

